.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  
  .heading {
    color: var(--css-white);
    display: flex;
    font-size: 45px;
  }
  
  .heading-timer {
    color: #4a148c;
  }
  